@if (IsOpen)
{
    <div class="modal fade show d-block" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-0 border-0 bg-transparent">

                <div class="vaultEntryCreateContainer">
                    <div class="vaultEntryCreateCard">

                        <div class="vaultEntryCreateHeader">
                            <i class="fa-solid fa-key"></i>
                            <h2>
                                @(Mode == VaultEntryModalMode.Create ? "Nouvelle entrée" : "Modifier l’entrée")
                            </h2>
                            <p>Renseignez les informations ci-dessous</p>
                        </div>

                        <div class="vaultEntryCreateForm">

                            <div class="sectionForm">
                                <label for="vaultEntryTitle">Titre</label>
                                <!-- Zero-Knowledge : Pas de @bind -->
                                <input id="vaultEntryTitleInput" 
                                       type="text" 
                                       placeholder="Ex : Instagram" />
                            </div>

                            <div class="sectionForm">
                                <label for="vaultEntryUsername">Nom d'utilisateur/ E-mail</label>
                                <!-- Zero-Knowledge : Pas de @bind -->
                                <input id="vaultEntryUsernameInput" 
                                       type="text"
                                       placeholder="Ex : test@gmail.com" />
                            </div>

                            <div class="sectionForm">
                                <label for="vaultEntryPassword">Mot de passe</label>
                                <!-- Zero-Knowledge : Pas de @bind -->
                                <input id="vaultEntryPasswordInput" 
                                       type="password"
                                       placeholder="Ex : BenjiLaFrappeDu53" />
                            </div>

                            <button class="btn-primary" @onclick="OnConfirm">
                                <i class="fa-solid fa-check"></i>
                                @(Mode == VaultEntryModalMode.Create ? "Créer" : "Enregistrer")
                            </button>

                            <button class="btn-secondary" @onclick="OnCancel">
                                Annuler
                            </button>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal-backdrop fade show"></div>
}