@page "/createVault"

<PageTitle>Créer un coffre</PageTitle>

<div class="vaultCreateContainer">
    <div class="vaultCreateCard">
        <div class="vaultCreateHeader">
            <i class="fa-solid fa-lock"></i>
            <h2>Créer un coffre</h2>
            <p>Renseignez les informations ci-dessous pour créer un nouveau coffre.</p>
        </div>

        <div class="vaultCreateform">
            
            @if (!string.IsNullOrEmpty(_errorMessage))
            {
                <div class="alert alert-danger">
                    @_errorMessage
                </div>
            }

            <div class="sectionForm">
                <label for="vaultName">Nom du coffre</label>
                <input id="vaultName"
                       type="text"
                       placeholder="Ex : Coffre personnel"
                       @bind="_vaultName" />
            </div>

            <!-- MOT DE PASSE -->
            <div class="sectionForm">
                <label for="vaultPassword">Mot de passe</label>
                <input id="vaultPassword"
                       type="text"
                       placeholder="Entrez un mot de passe"
                       value="@_vaultPassword"
                       @oninput="OnPasswordInput" />
            </div>

            <!-- Composant réutilisable -->
            <PasswordTools Password="@_vaultPassword" OnGenerated="@OnPasswordGenerated" />

            <button type="button"
                    class="btn-primary"
                    @onclick="EventCreateVault">
                <i class="fa-solid fa-check"></i>
                Enregistrer
            </button>
        </div>
    </div>
</div>