@page "/error"

<div class="error-page">
    <div class="error-container">
        <i class="fa-solid fa-triangle-exclamation error-icon"></i>
        <h1 class="error-title">Oups ! Une erreur s'est produite</h1>
        <p class="error-message">Nous sommes désolés, quelque chose s'est mal passé.</p>
        <a href="/" class="btn-primary">Retour à l'accueil</a>
    </div>
</div>
