@page "/"
@using PasswordManager.Web.Components.Fragments
@using PasswordManager.Web.Components.Shared

<PageTitle>Vaults</PageTitle>

<h1 class="titleHome">Mes Vaults</h1>

<input type="text" class="searchInput" placeholder="Rechercher..." />

@if (IsLoading)
{
    <Loader />
}
else if (vaults == null || vaults.Count == 0)
{
    <p>Vous n’avez pas encore de coffre créé.</p>
}
else
{
    <VaultList Vaults="vaults" />
}
