.vaultDetailsHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.vaultDetailsHeader .titleHome {
    margin-bottom: 0;
}

.vaultActions {
    display: flex;
    gap: 8px;
}

.btnShare, .btnDelete, .btnHistory {
    padding: 12px 20px;
    border-radius: var(--radius-md);
    font-size: 14px;
    cursor: pointer;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.btnHistory{
    color: white;
}

.vaultEntries {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 16px;
}

.btnAddContainer {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 30px;
    padding: 8px 15px;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btnAddContainer .btnAdd {
    height: 100%;
    padding: 8px 10px;
    background-color: var(--primary-color);
    border-radius: 8px;
    opacity: 0;
    color: white;
    transform: translateX(40%);
    transition: all 0.2s ease-in-out;
}
.btnAddContainer:hover .btnAdd {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.2s ease-in-out;
}

.btnAddContainer i {
    z-index: 10;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 100%;
    font-size: 23px;
}

