@inherits LayoutComponentBase
@using PasswordManager.Web.Components.Fragments

<div class="main-container">
    <LeftNavMenu />

    <main class="main-content">
        @Body
    </main>

    <RightNavMenu />
</div>
