<div class="leftMenu">
    <div class="logoSection">
        <a class="logo" href="/">
            <img src="assets/logo.svg" alt="Logo" />
            <span class="logoText">PassManager</span>
        </a>
    </div>

    <div class="menuSection">
        <input type="text" class="searchInput" placeholder="Rechercher..." />
    </div>

    <div class="menuSection">
        <h3 class="sectionTitle">FILTRES</h3>
        <ul class="menuList">
            <li class="menuItem active">
                <i class="fa-solid fa-inbox menuIcon"></i>
                <span>Tous les coffres</span>
                <span class="menuCount">12</span>
            </li>
            <li class="menuItem">
                <i class="fa-solid fa-lock menuIcon"></i>
                <span>Personnels</span>
                <span class="menuCount">8</span>
            </li>
            <li class="menuItem">
                <i class="fa-solid fa-users menuIcon"></i>
                <span>Partagés</span>
                <span class="menuCount">4</span>
            </li>
        </ul>
    </div>

    <div class="menuFooter">
        <button type="button" class="btn" @onclick="GoToCreateVault">
            <i class="fa-solid fa-plus"></i>
            Nouveau coffre
        </button>
    </div>
</div>