<PageTitle>Vaults</PageTitle>

<h1 class="titleHome">Mes Vaults</h1>

<div class="vaultTableWrapper">
    <table class="vaultTable">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Catégorie</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vault in Vaults)
            {
                <tr class="vaultRow">
                    <td class="vaultName">
                        <span class="avatar">
                            @vault.Name.Substring(0, 1).ToUpper()
                        </span>
                        <span>@vault.Name</span>
                    </td>

                    <td>
                        <span class="badge @GetBadgeClass(vault.IsShared)">
                            @GetCategoryLabel(vault.IsShared)
                        </span>
                    </td>

                    <td class="actions">
                        <a href="/vault/@vault.Identifier" class="btnOpen">Ouvrir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
